{% extends "base.html" %}
{% block title %}Reset Your Password{% endblock %}

{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>
            please enter your password twice.
        </p>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <p><input type="submit" value="Change My Password"></p>
        </form>
    {% else %}
        <p>
            The password link was invalid.Possibly because it has already been used
        </p> 
    {% endif %}       
{% endblock %}